<a href="https://colab.research.google.com/github/GWeveti/Moringa_Week4/blob/main/Week_4_IP_GLADYS_WEVETI_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **DATA SCIENCE PROJECT FOR ELECTRIC CAR SHARING SERVICE COMPANY**

 
The electric car sharing company need to process stations data to understand electric car usage over time.


Datasets are provided below:

Autolib.csv [https://drive.google.com/a/moringaschool.com/file/d/13DXF2CFWQLeYxxHFekng8HJnH_jtbfpN/view?usp=sharing]

Autolib_description[https://drive.google.com/file/d/13DXF2CFWQLeYxxHFekng8HJnH_jtbfpN/view]




### **REQUIREMENTS**

1. Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

2. What is the most popular hour for returning cars?
3. What station is the most popular? Overall?
4. At the most popular picking hour?
5. What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?
Overall?
6. At the most popular picking hour?
7. Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars?

# **1. Importing Libraries**

In [ ]:
# import the required libraries
 
import pandas as pd
import numpy as np
from google.colab import files

# **2. Reading the files and loading Datasets**

In [ ]:
# load a autolib_dataset from a csv file (accessible via URL) 
# then store it in a tabular form: a dataframe as shown below. 
# Dataset URL = http://bit.ly/Telcom_dataset1
# Loading the dataset and printing

autolib_df = pd.read_csv('/content/Autolib.csv')
autolib_df

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

In [ ]:
# Previewing the first few records of the dataframe

autolib_df.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [ ]:
# Previewing the last few records of the dataframe

autolib_df.tail()

                          Address  Cars  Bluecar counter  ...  day  hour  minute
4995          8 avenue MÃ©nelotte     2                2  ...    6    11      26
4996            37 rue de Dantzig     4                4  ...    4    16      56
4997               142 rue du Bac     1                1  ...    1     7       1
4998  2 avenue du Val de Fontenay     2                2  ...    4    17      27
4999          5 Rue Henry Brisson     4                4  ...    8    10       2

[5 rows x 25 columns]

In [ ]:
# let's print the data types in the dataset
print(autolib_df.dtypes)

Address                object
Cars                    int64
Bluecar counter         int64
Utilib counter          int64
Utilib 1.4 counter      int64
Charge Slots            int64
Charging Status        object
City                   object
Displayed comment      object
ID                     object
Kind                   object
Geo point              object
Postal code             int64
Public name            object
Rental status          object
Scheduled at           object
Slots                   int64
Station type           object
Status                 object
Subscription status    object
year                    int64
month                   int64
day                     int64
hour                    int64
minute                  int64
dtype: object

In [ ]:
# To check  the shape
autolib_df.shape

(5000, 25)

In [ ]:
# To view the columns in the dataframe
autolib_df.columns.values.tolist()

['Address',
 'Cars',
 'Bluecar counter',
 'Utilib counter',
 'Utilib 1.4 counter',
 'Charge Slots',
 'Charging Status',
 'City',
 'Displayed comment',
 'ID',
 'Kind',
 'Geo point',
 'Postal code',
 'Public name',
 'Rental status',
 'Scheduled at',
 'Slots',
 'Station type',
 'Status',
 'Subscription status',
 'year',
 'month',
 'day',
 'hour',
 'minute']

# **3. Data Cleaning**

In [ ]:
#Let's access information in the dataset
autolib_df.info

<bound method DataFrame.info of                                  Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]>

In [ ]:
# Let's check for missing values

autolib_df.isnull().sum().sort_values(ascending=False)

Scheduled at           4953
Displayed comment      4889
minute                    0
Geo point                 0
Cars                      0
Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
ID                        0
Kind                      0
Postal code               0
hour                      0
Public name               0
Rental status             0
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
Address                   0
dtype: int64

In [ ]:
# Let's drop all missing values in the dataset
clean_df = autolib_df.dropna()
print(clean_df)

Empty DataFrame
Columns: [Address, Cars, Bluecar counter, Utilib counter, Utilib 1.4 counter, Charge Slots, Charging Status, City, Displayed comment, ID, Kind, Geo point, Postal code, Public name, Rental status, Scheduled at, Slots, Station type, Status, Subscription status, year, month, day, hour, minute]
Index: []

In [ ]:
# Let's count the missing values in the dataframe
np.count_nonzero(autolib_df.isnull())

9842

In [ ]:
# Let's check for duplicates
autolib_df.duplicated().value_counts()

False    5000
dtype: int64

In [ ]:
# Let's drop all duplicates
autolib_df.drop_duplicates(inplace=True)

In [ ]:
autolib_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 1015.6+ KB

In [ ]:
# counting the missing values in the dataframe
np.count_nonzero(autolib_df.isnull())

9842

# **4. Exploration of data**

In [ ]:
# Let's identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

autolib_df = autolib_df.sort_values(['Bluecar counter', 'hour'], ascending=[False, False])
autolib_df1 = autolib_df['City'].value_counts()
autolib_df1

autolib_df.head()

                             Address  Cars  Bluecar counter  ...  day  hour  minute
534              6 rue Isidore Nerat     7                7  ...    5    21      20
1782                  1 avenue Hoche     7                7  ...    8    20      34
4568  205 Avenue Georges ClÃ©menceau     7                7  ...    1    20      11
146                  22 Voie au Lard     7                7  ...    1    17      35
3115      2 rue du GÃ©nÃ©ral Renault     7                7  ...    9    17      24

[5 rows x 25 columns]

### The most popular hour for picking up a shared electric car is hour 17

In [ ]:
# What is the most popular hour for returning cars?

autolib_df['hour'].value_counts()

21    237
9     221
16    220
7     219
6     219
3     218
2     218
13    213
8     211
5     211
11    210
18    210
19    208
14    207
20    202
23    201
12    200
15    200
4     199
17    198
22    196
1     194
10    194
0     194
Name: hour, dtype: int64

### The most popular hour for returning the cars is hour 21

In [ ]:
# What station is the most popular Overall?
station= autolib_df['Address'].value_counts()
station

8 Avenue de la Porte de Montrouge    13
31 boulevard de Grenelle             11
182 Boulevard Voltaire               11
35 rue Mathis                        11
69 Rue de Courcelles                 11
                                     ..
38 rue d'Aubervilliers                1
153 Rue Jean JaurÃ¨s                  1
10 rue de la FÃ©dÃ©ration             1
3 rue Jean Veber                      1
1 Rue Rigault                         1
Name: Address, Length: 1104, dtype: int64

### The most popular station overall is the 8 Avenue de la Porte de Montrouge station

In [ ]:
# What station is the most popular at the most popular picking hour?
popular = autolib_df.sort_values(by=['hour'], ascending=False)
print(popular.head())

                               Address  Cars  ...  hour  minute
4753                 101 Avenue Mozart     3  ...    23       4
4077                    73 Rue de Rome     1  ...    23      48
2167  33 avenue du GÃ©nÃ©ral de Gaulle     0  ...    23       8
2164               11 rue de vincennes     0  ...    23      41
2053             169 avenue de Flandre     0  ...    23       2

[5 rows x 25 columns]

### The most popular at the most popular picking hour is 65 boulevard de Picpu

In [ ]:
# What postal code is the most popular for picking up Blue cars?
autolib_df1 = autolib_df.sort_values(['Address', 'Bluecar counter'], ascending=[False, False])
print(autolib_df1)

                Address  Cars  Bluecar counter  ...  day  hour  minute
4368    Quai de SÃ¨vres     6                6  ...    7    16      31
1551    Quai de SÃ¨vres     4                4  ...    2     2      23
1285    Quai de SÃ¨vres     0                0  ...    5     7      44
2919    Quai de SÃ¨vres     0                0  ...    4     5      16
703     Quai de SÃ¨vres     0                0  ...    5     1      28
...                 ...   ...              ...  ...  ...   ...     ...
3006   1 Avenue Marceau     0                0  ...    6     6      52
4850   1 Avenue Marceau     0                0  ...    5     6      51
4486  1 Avenue Gambetta     3                3  ...    9    13      24
1940  1 Avenue Gambetta     0                0  ...    7    20      47
299   1 Avenue Gambetta     0                0  ...    1    15      52

[5000 rows x 25 columns]

## The most popular postal code is Quai de SÃ¨vres